name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: gyamada22

          # Base mínimo
          base: header

          # Mostra apenas estatísticas gerais
          plugin_followup: no
          plugin_isocalendar: no
          plugin_languages: no
          plugin_lines: no
          plugin_stars: no
          plugin_traffic: no
